@charset "utf-8";


// If need, change your variables before importing Bulma
$title-color: #22223b;
$navbar-background-color: hsl(203, 49%, 33%);
$navbar-item-hover-background-color: hsl(213, 28%, 67%);
$navbar-item-color: hsl(0, 0%, 100%);


// @import "~bulma/sass/components/navbar.sass";
@import "~bulma/bulma.sass";

