@charset "utf-8";
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

.lazy {
  background-image: none;
  background-color: #F1F1FA;
}

#hero-container {
  background-image: url("../images/hero_background.jpg");
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
};

#hero-text {
  // font-family: 'Ubuntu', sans-serif;
};

#hero-title {
  color: #22223B;
  font-weight: bold;
}

#hero-subtitle {
  color: #22223B;
  // font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}


#name {
  color: #4A4E69;
}

#nav-burger {
  // font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: large;
}


#portfolio-container {
  background-color:hsl(0, 0%, 96%);
}

#portfolio-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
}

#tiles-container {
  padding: 0rem 10rem 6rem;
}

#parent-tile {
  background-image: url("https://bulma.io/images/placeholders/640x480.png");
}

#about-container {
  background-color:hsl(0, 0%, 100%);
}

#about-title {
  // font-family: 'Ubuntu', sans-serif;
  font-size: large;
}

#about-content {
  padding: 0rem 5rem;
}

#contact-container {
  background-color:hsl(203, 49%, 33%);
}

#contact-title {
  color: white;
}

#social-icons {
  justify-content: center;
}

#icon-email:hover {
  filter: contrast(0%)
}

#icon-linkedin:hover {
  filter: invert(40%)
};

/* On desktop and fullHD, change icon sizes */
@media screen and (min-width: 1024px) {
  #icon-email {
    filter: brightness(1000%);
    // padding-bottom: 1rem;
  }
  
  #icon-linkedin {
    filter: brightness(650%);
    width: 80%;
    padding-top: 0.3rem;
  }
  
}

/* On mobile and tablet, change icon sizes */
@media screen and (max-width: 1024px) {
  #icon-email {
    width: 50%;
    filter: brightness(1000%);
    // padding-bottom: 1rem;
  }
  
  #icon-linkedin {
    filter: brightness(650%);
    width: 60%;
    padding-top: 1rem;
  }
  
};

#footer-icon {
  color: hsl(350, 68%, 60%);
  width: 80px;
  position: relative;
  top: -85px;
  z-index: 99;
}
