@charset "utf-8";

/* Custom colours */
$navy-blue: hsl(203, 49%, 33%);
$dark-purple: hsl(240, 27%, 18%);
$faded-white: hsl(240, 47%, 96%);
$light-grey: hsl(0, 0%, 96%);
$medium-grey: hsl(0, 0%, 73%);
$light-purple: hsl(232, 17%, 35%);
$white: hsl(0, 0%, 100%);
$hot-pink: hsl(350, 68%, 60%);

/* ---------------------------------- START NAVBAR ---------------------------------- */

#navbar {
  border-style: none none solid none;
  border-width: 3px;
  border-color: $dark-purple;
};

@media screen and (max-width: 767px) {
  #navbar {
    // position: unset;
  }
}

/* ---------------------------------- END NAVBAR ---------------------------------- */

/* ---------------------------------- START HERO ---------------------------------- */

//lazy-load hero image
.lazy {
  background-image: none;
  background-color: $faded-white;
}

#hero-container {
  background-image: url("../images/hero_background.jpg");
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
};

#hero-title {
  color: $dark-purple;
  font-weight: bold;
};

#hero-subtitle {
  color: $dark-purple;
  font-weight: 400;
}

#name {
  color: $light-purple;
};
/* ---------------------------------- END HERO ---------------------------------- */


/* ---------------------------------- START PORTFOLIO ---------------------------------- */

#portfolio-container {
  background-color: $light-grey;
}

#portfolio-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
};

//portfolio tile project screenshot
#parent-tile {
  background-image: url("https://bulma.io/images/placeholders/640x480.png");
};

/* on small mobile, adjust tile size and padding */
@media screen and (max-width: 375px){
  #portfolioTileParent {
    min-width: 15rem;
    max-width: 15rem;
  };

  // Sets tile columns to fixed size
  #portfolio-tile-child {
    min-width: 13rem;
    max-width: 13rem;
    border-radius: 0px !important;
  };

  #tiles-container {
    padding: 0rem 4rem 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  };
};
/* on large mobile, adjust tile size and padding */
@media screen and (max-width: 425px){
  #portfolioTileParent {
    min-width: 15rem;
    max-width: 15rem;
  };

  // Sets tile columns to fixed size
  #portfolio-tile-child {
    min-width: 13rem;
    max-width: 13rem;
  };

  #tiles-container {
    // padding: 0rem 6rem 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
  };
};


/* on tablet, adjust tile size and padding */
@media screen and (min-width: 426px){
  #portfolioTileParent {
    min-width: 22rem;
    max-width: 22rem;
  };

  // Sets tile columns to fixed size
  #portfolio-tile-child {
    min-width: 20rem;
    max-width: 20rem;
  };

  #tiles-container {
    padding: 0rem 10rem 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  };
};

/* on large laptop, adjust tile size */
@media screen and (min-width: 1440px){
  #portfolioTileParent {
    min-width: 22rem;
    max-width: 22rem;
  };

  // Sets tile columns to fixed size
  #portfolio-tile-child {
    min-width: 20rem;
    max-width: 20rem;
  };

  #tiles-container {
    padding: 0rem 10rem 6rem;
  }
};

/* on small laptop, adjust tile size and padding */
@media screen and (min-width: 769px){
  #portfolioTileParent {
    min-width: 16rem;
    max-width: 16rem;
  };

  // Sets tile columns to fixed size
  #portfolio-tile-child {
    min-width: 14rem;
    max-width: 14rem;
  };

  #tiles-container {
    padding: 0rem 10rem 6rem;
  };
};



//Disables onMouseLeave in child context of tile containers
#portfolio-tile-child * {
  pointer-events: none;
}

#portfolio-icon {
  background-color: $white;
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#portfolio-details {
  text-align: center;
  animation: fadeIn 0.5s;

}

#learnmore-btn {
  text-align: center;
}

#learnmore-btn:hover {
  color: blue;
}

/* ---------------------------------- END PORTFOLIO ---------------------------------- */


/* ---------------------------------- START ABOUT ---------------------------------- */

#about-container {
  background-color: $white;
}

#about-title {
  font-size: large;
}

/* on small mobile, adjust size of profile pic */
@media screen and (max-width: 375px) {
  #about-content {
    padding: 0rem 2rem !important;
    margin: 0px !important;
  }

  #about-pic {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  };

  #about-text {
    padding-top: 2rem;
  }

  #about-text-column {
    padding: 0px;
  }
};

/* on large mobile, adjust size of profile pic */
@media screen and (max-width: 425px) {
  #about-content {
    margin: 0px !important;
  }
  #about-pic {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  };

  #about-text {
    padding-top: 2rem;
  }

  #about-text-column {
    padding: 0px;
  }
};

/* on tablet, adjust size of profile pic */
@media screen and (min-width: 426px) {
  #about-pic {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  };
};

/* on laptop, adjust size of profile pic */
@media screen and (min-width: 768px) {
  #about-pic {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
};

#about-content {
  padding: 0rem 5rem;
};

#about-text {
  font-weight: 500;
}

#about-subtext {
  color: $hot-pink;
  font-weight: 700;
}

/* ---------------------------------- END ABOUT ---------------------------------- */

/* ---------------------------------- START CONTACT ---------------------------------- */
#contact-container {
  background-color: $navy-blue;
}

#contact-title {
  color: $white;
};

/* on mobile, adjust padding for text */
@media screen and (max-width: 425px) {
  #contact-title {
    padding: 0rem 2rem;
  }
}

#social-icons {
  justify-content: center;
  padding-bottom: 30px;
}

#icon-email:hover {
  filter: contrast(0%)
}

#icon-linkedin:hover {
  filter: invert(40%)
};

/* On desktop and fullHD, change icon sizes */
@media screen and (min-width: 769px) {
  #icon-email {
    filter: brightness(1000%);
    width: 100px;
  }
  
  #icon-linkedin {
    filter: brightness(650%);
    width: 116px;
    padding-left: 10px;
    padding-top: 0.4rem;
  }
  
};

/* On tablet, change icon sizes */
@media screen and (max-width: 768px) {
  #icon-email {
    width: 68px;
    filter: brightness(1000%);
  }
  
  #icon-linkedin {
    filter: brightness(650%);
    width: 80px;
    padding-top: 1rem;
  }
  
};

#modal-subtitle {
  border-bottom: 1px solid $medium-grey;
};

#modal-icon {
  background-color: $white;
}

#link-text {
  color: hsl(0, 5%, 9%);
}

#link-text:hover {
  color: hsl(218, 68%, 52%)
}

#external-link-icon {
  color: hsl(0, 5%, 9%);
  margin-right: 1rem;
}

#github-icon {
  width: 40px;
  margin-right: 1rem;
}

/* ---------------------------------- END CONTACT ---------------------------------- */

/* ---------------------------------- START FOOTER ---------------------------------- */
#footer-icon {
  color: $hot-pink;
  width: 80px;
  position: relative;
  top: -85px;
  // z-index: 99;
};

/* ---------------------------------- END FOOTER ---------------------------------- */

