@charset "utf-8";
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

#navbar {
  border-style: none none solid none;
  border-width: 3px;
  border-color: hsl(350, 68%, 60%);
}

.lazy {
  background-image: none;
  background-color: #F1F1FA;
}

#hero-container {
  background-image: url("../images/hero_background.jpg");
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
};

#hero-text {
  // font-family: 'Ubuntu', sans-serif;
};

#hero-title {
  color: #22223B;
  font-weight: bold;
}

#hero-subtitle {
  color: #22223B;
  font-weight: 400;
}


#name {
  color: #4A4E69;
}

#nav-burger {
  font-weight: 400;
  font-size: large;
}


#portfolio-container {
  background-color:hsl(0, 0%, 96%);
}

#portfolio-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
}

#tiles-container {
  padding: 0rem 10rem 6rem;
}

#parent-tile {
  background-image: url("https://bulma.io/images/placeholders/640x480.png");
}

//Disables onMouseLeave in child context of tile containers
#portfolio-tile-child * {
  pointer-events: none;
}

#portfolio-icon {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#portfolio-details * {
  animation: move-up 0.5s linear;
  -webkit-animation: move-up 0.5s;
  -moz-animation: move-up 0.5s;
  -o-animation: move-up 0.5s;
  -ms-animation: move-up 0.5s;
}

@keyframes move-up {
  from {
    top: 0px;
  }

  to {
    top: 50px;
  }
}
            
@-webkit-keyframes move-up {
  from {
    top: 0px;
  }

  to {
    top: 50px;
  }
};

// #btn {
//   width: 10px;
// }

#about-container {
  background-color:hsl(0, 0%, 100%);
}

#about-title {
  font-size: large;
}

#about-content {
  padding: 0rem 5rem;
};

#about-text {
  font-weight: 500;
}

#about-subtext {
  color:hsl(350, 68%, 60%);
  font-weight: 700;
}

#contact-container {
  background-color:hsl(203, 49%, 33%);
}

#contact-title {
  color: white;
}

#social-icons {
  justify-content: center;
}

#icon-email:hover {
  filter: contrast(0%)
}

#icon-linkedin:hover {
  filter: invert(40%)
};

/* On desktop and fullHD, change icon sizes */
@media screen and (min-width: 1024px) {
  #icon-email {
    filter: brightness(1000%);
    width: 100px;
  }
  
  #icon-linkedin {
    filter: brightness(650%);
    width: 116px;
    padding-left: 10px;
    padding-top: 0.4rem;
  }
  
}

/* On mobile and tablet, change icon sizes */
@media screen and (max-width: 1024px) {
  #icon-email {
    width: 50%;
    filter: brightness(1000%);
    // padding-bottom: 1rem;
  }
  
  #icon-linkedin {
    filter: brightness(650%);
    width: 60%;
    padding-top: 1rem;
  }
  
};

#footer-icon {
  color: hsl(350, 68%, 60%);
  width: 80px;
  position: relative;
  top: -85px;
  z-index: 99;
}
